#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	padding: 25px;
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.accomplishments {
	font-size: .8em;
}